#mapCanvas{
	width: 30.1em;
	height: 23.8em;
	padding: 1px;
	margin: 5px;
	border-radius: 10px;
	color: black;
	

}

body {
  background: -moz-linear-gradient(top, #000, #A9A9A9);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#000), to(#A9A9A9));
}

input, button{
  	font-family: Verdana, Helvetica, Arial, serif;
  	font-size: 15px;
  	margin: 0px;
	border-radius: 10px;
	border-style: none;
}

button {
	background: -moz-linear-gradient(top, #A9A9A9, #000);
  	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#A9A9A9), to(#000));
	color: white;
	height: 1.7em;	
	font-size: 15.5px;
	}

input {
	height: 1.4em;
	width: 15.8em;
	}
	