#mapCanvas{
	width: 25.2em;
	height: 25.2em;
	padding: 1px;
	margin: 5px;
	border-radius: 10px;
	color: black;
	

}

input {
	border-radius: 10px;
	border-style: none;
	height: 1.4em;
	width: 14em;
	}